<%= render 'shared/nav' %>
<div class="container">
  <div class="row">
  <div class="col-sm-9">
  <p class="about grey">A music web app by <a class="about-link" href="https://github.com/ramata/Dj-Playit">Ramata Diallo</a>that adds songs and lets users comment on them.</p><p class="about about-reset grey">Words like "love" have the same probability of being drawn as words like "Hofbrau," so results are not completely random and could be said to favor "weird" songs or songs made by musicians from countries where English is not widely spoken. <p class="about about-reset grey">Words that return no search results are dynamically deleted from the database.</p><p class="about about-reset grey">Source code is available <a class="about-link" href="https://github.com/ramata/Dj-Playit" alt="Link to source code on Github.">here</a>.</p>
  </div>
  </div>
</div>
