<%= render 'shared/nav' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="listening-info"> You are listening to...
      </h3>
    </div>
  </div>
<div class="row">
    <div class="col-xs-12">
      <h3><%= link_to "Pick a song", song_path, class: "btn btn-md btn-primary", id: "play-again-link" %></h3>
      <a href="/songs">Songs</a>
      <a href="/artists">Artists</a>
    </div>
</div>
</div>
