  <div class="row">
     <div class="col-lg-12">
      <h2>Artists</h2><br>
    </div>
  </div>
 <%= link_to 'NEW ARTIST (+) ', new_artist_path %><br>
<br>
<ul>
  <% @artists.each do |artist| %>
    <li>
      <a href="/artists/<%= artist.id %>">
        <%= artist.name %>
      </a>
    </li>

  <% end %>
</ul>
