<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="comment-info"> Here are your comments...
      </h3>
    </div>
  </div>
<div class="row">
    <div class="col-xs-12">
      <h3><%= link_to "comments", user_comment_path, class: "btn btn-md btn-primary" %></h3>
      <a href="/user_comments_path">Comments</a>
      
    </div>
</div>
</div>
