<%= render 'shared/nav' %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <button class="grey">Leave a comment</button>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <%= link_to "Get a song.", song_path, class: 'center', id: 'get-song' %>
    </div>
  </div> -->
</div>
