<div class="row">
   <div class="col-lg-12">
     <h2>Reviews</h2><br>
   </div><br>
   <%= link_to  'NEW Comment (+) ', new_user_comment_path(@user) %><br>
</div><br>
<% @comments.each do |comment| %><br>
<a href="/comments/<%= comment.id %>">
  <%= "#{comment.author} - #{comment.body}" %>
</a>
<% end %>
