<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>What?</h3>
    <p>
      Dj-Playit is a music app built using Ruby on Rails. It's free &amp; completely open source. You can check the source on <a href="https://github.com/ramata/Dj-Playit"><%= fa_icon 'github' %> Github</a>. Also take a look at the demo deployed to <a href="https://salty-falls-67437.herokuapp.com">Heroku</a>.
    </p>
    <br>
    <h3>Why?</h3>
    <p>
      I am not building the next Spotify. Given that there are enough music apps already I don't want to end up launching one. Pointless! So why am I building it? I want to try and learn how to develop a social network using my music app and in the process show you how easy it is done using Rails.</p>
    <br>
    <h3>How?</h3>
    <p>
      As stated above it's a Ruby on Rails application. Frontend is developed using Twitter Bootstrap. Database is SQLite for development and Postgresql for production.
    </p>
    <br>
    <a href="https://github.com/ramata/Dj-Playit" class="btn btn-warning">
      <%= fa_icon 'star' %> Star it
    </a>
    <a href="https://github.com/ramata/Dj-Playit" class="btn btn-primary">
      <%= fa_icon 'code-fork' %> Fork it
    </a>
  </div>
</div>
