<%= render 'shared/nav' %>
<h2>Songs </h2>
<%= link_to 'NEW SONG (+)', new_song_path %>

<ul>
  <% @songs.each do |song| %>
    <li>
      <a href="/songs/<%= song.id %>">
        <%= "#{song.title} - #{song.album}" %>
      </a>
    </li>
  <% end %>
</ul>
