<div class="container">
   <div class="row">
     <div class="col-lg-12">
        <h2>Songs </h2><br>
     </div>
   </div>
  <!-- <div class="row">
   <div class="col-lg-4 col-lg-offset-4"> -->
      <%= link_to 'NEW SONG (+)', new_song_path %>
   <!-- </div>
  </div> -->
</div><br>
<ul>
  <% @songs.each do |song| %>
    <li>
      <a href="/songs/<%= song.id %>">
        <%= "#{song.title} - #{song.album}" %>
      </a>
    </li>
  <% end %>
</ul>
