// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  border          : none;
  background-color: #005686;
}

.navbar-default .navbar-brand {
  font-weight: 600;
  color: white;
}

#myNavbar a {
  color: white;
}

#myNavbar a:hover {
  color: #9ED594;
}
.navbar-header {
  color: white;
}

.navbar-header:hover {
  color: #D85E21;
}

nav a {
  color: white;
}

nav a:hover {
  color: #D85E21;
}

body {
  width: 100%;
  background-color: #9B8C74;
  color: #141414;
  background-size: cover;
  background-image: url("music.jpg");
  height: 125vh;
  border: 1px solid #337AB7;
  margin: 2px;
  background-repeat: no-repeat;
  overflow: scroll;
  line-height: 1.3em;
}

li a:hover {
  color: #D85E21;
}

h1 {
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  color: #80D8FF;;
}

h2 {
  font-size: 2em;
  color: #80D8FF;
}

h3 {
  color: #80D8FF;
}

p {
  color: #80D8FF;;
}
p a {
  color: #D85E21;
}

p a:hover {
  color: #9BCB9B;
}
ul {
  color: white;
}

li {
  color: white;
  font-family: 'Wire One', sans-serif;
  margin: .3em auto .2em 1em;
  letter-spacing: .1em;
}

.form-group {
  color: #80D8FF;
}

a {
  color: #80D8FF;
}

a:hover {
  color: #D85E21;
}

label {
  color: #80D8FF;
}

input {
  font-size: 1.5em;
}
